*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    padding: 60px 0;
}

/*======== HEAD AND NAV ========*/

.menu__navegacion{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link__menu{
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
}

.link__menu:hover{
    color:#2ECC71;
}

.banner{
    height: 75vh;
    background-image: url(../img/mermelada__baner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenido__banner{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    height: 80%;

}

.titulo__banner{
    font-size: 69px;
    color:beige;
}

.subtitulo__banner{
    font-size: 20px;
    color: beige;
    width: 30%;
    margin-bottom: 25px;
}

.btn__page{
   height: 50px;
   padding: 1rem;
   background: #2ECC71;
   color: beige;
   border: none;
   border-radius: 5px;
   font-weight: 600;
   cursor: pointer;
}

.services1{
    background: #2ECC71;
}


.cont__services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.image__service{
    width: 40%
}

.img__service{
    width: 100%;
    border-radius: 10px;
}

.welcome__service{
    width: 40%;
}

.titulo__service{
    font-size: 35px;
    color: beige;
}

.subtitulo__service{
    color: beige;
    font-style: italic;
    margin-bottom: 15px;
}

.contendo__service{
    color: beige;
    margin-bottom: 15px;
}

.btn__servicios{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background: beige;
    color: black;
    font-weight: 700;
    cursor: pointer;
}


/*====== section Products =========*/

.productos__merme{
    background: beige;
}

.titulo__product{
    text-align: center;
    padding: 1rem;
    font-weight: 400;
}

.subtitulo__product{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.cont__products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.productos__mermes{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 1rem;
    border-radius: 5px;

}

.img__productos{
    width:50%;
}

.contenido__mermes{
    text-align: center;
    margin-bottom: 15px;
}

.titulo__mermes{
    margin-bottom: 15px;
}

.btn__mermeslades{
    height: 45px;
    width: 150px;
    border: none;
    background: #2ECC71;
    color: beige;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn__browser{
    text-align: center;
    height: 55px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background: purple;
    color: beige;
    font-weight: 600;
    cursor: pointer;
}


.btn__browser1{
    width: 920%;
    max-width: 1200px;
    height: 200px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*====== Clientes =======*/

.clientes{
    background: purple;
}

.titulo__cliente{
    text-align: center;
    font-size: 45px;
    color: beige;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 2rem;
}


.cont_client{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards__clientes{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__clientes{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 6px solid beige;
}

.contenido__cliente{
    text-align: center;
    color: beige;
    font-size: 15px;
    margin-top: 20px;
}

.nombre__cliente{
    text-align: center;
    color: beige;
    margin-top: 20px;
    font-style: oblique;
}


/*====== adventages product =======*/

.tiutlo__adventage{
    text-align: center;
    font-size: 45px;
}

.subtitulo__adventage{
    text-align: center;
}

.img__adventage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    
}

.img__ventaja{
    width: 50%;
    border-radius: 5px;
}

.container__adventages{
    display: flex;
    flex-direction: column;
}


.info__adventage{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img__info{
    width: 40%;
}

.card__info{
    width: 40%;
    background: purple;
    padding: 2rem;
}

.titulo__info{
    color: beige;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.contenido__info{
    color: beige;
    font-size: 20px;
    font-weight: 300;
}

.btn__info{
    height: 50px;
    width: 150px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: #2ECC71;
    color: beige;
    margin-top: 20px;
    cursor: pointer;
}


/*====== visit us ========*/

.contact__us{
   height: 70vh;
    background-image: url(../img/merme__visit.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contenido__us{
    background:white ;
    height: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.titulo__us{
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 550;
}

.cont__us{
    text-align: center;
}

.btn__us{
    height: 45px;
    width: 150px;
    border: none;
    background: #2ECC71;
    color: beige;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}




hr{
    width: 10%;
    margin: auto;
    height: 3px;
    background: purple;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

/*======= our team ======== */

.titulo__team{
    font-size: 45px;
    text-align: center;
}
.subtitulo__team{
    text-align: center;
}

.contenedor__team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.card__team{
    width: 20%;
    height: 300px;
    background: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}

.img__team{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 6px solid black;
}

.name__team{
    margin-top: 35px;
}

/*===== subcribe =============*/

.sus__purple{
    background: purple;
}


.subcribe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.titulo__subcribe{
    color: beige;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
}

.cont__subcribe{
    width: 45%;
}

.form__subcribe{
    width: 45%;
}

.subcribe__form{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    height: 50px;
}

.in__subcribe{
    border: none;
    height: 50px;
    width: 75%;
    outline: none;
    padding: 16px;
    font-size: 15px;
}

.btn__subcribe{
    height: 51px;
    width: 27%;
    border: none;
    background: #2ECC71;
    cursor: pointer;
    color: beige;
    font-weight: 600;
    font-size: 16px;
}


/*====== form contact ========*/


.form__contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cont__formulario{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.titulo__contactUs{
    text-align: center;
    font-size: 35px;
    margin-bottom: 25px;
}

.subtitulo__us{
    font-weight: 500;
    color: purple;
    text-align: center;
}

.contenido__form{
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
   
}

form{
    display: flex;
    flex-direction: column;
}

.form__contact{
    margin-bottom: 10px;
    height: 45px;
    border: 1px solid purple;
    border-radius: 5px;
    outline: none;
    padding: 15px;
}

textarea{
    border: 1px solid purple;
    border-radius: 5px;
    outline: none;
    margin-bottom: 45px;
    padding: 16px;
}

.btn__form{
    width: 50%;
    margin: auto;
    height: 45px;
    border: none;
    background: #2ECC71;
    color: beige;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.img__us{
    width: 40%;
    align-self: center;
    
}

.img__contact{
    width: 100%;
    border-radius: 5px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}



footer{
    background: #1C2833;
    height: 250px;
}

.titulo__foooter{
    text-align: center;
    color: beige;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 300;
    margin: auto;
}

.subtitulo{
    text-align: center;
    color: beige;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 300;
}



@media screen and (max-width:800px) {

    .titulo__banner{

    }

    .subtitulo__banner{
        width: 50%;
    }
    .image__service{
        width: 70%;
        margin-bottom: 25px;
    }

    .welcome__service{
        width: 70%;
    }

    .productos__mermes{
        width: 60%;
        margin-bottom: 25px;
    }

    .img__ventaja{
        width: 100%;
    }

    .card__info{
        width: 100%;
        margin-bottom: 25px;
    }

    .img__info{
        width: 100%;
        margin-bottom: 25px;
    }

    .contenido__us{
        width: 80%;
    }

    .card__team{
        width: 39%;
    }

    .cont__subcribe{
        width: 80%;
        margin-bottom: 25px;
    }

    .form__subcribe{
        width: 80%;
    }

    .cont__formulario{
        width: 80%;
        margin-bottom: 50px;
    }

    .img__us{
        width: 80%;
    }
}



@media screen and (max-width:450px) {
    .titulo__banner{
        font-size: 60px;
        color: purple;
    }

    .subtitulo__banner{
        width: 89%;
    }

    .image__service{
        width: 100%;
        margin-bottom: 25px;
    }

    .welcome__service{
        width: 100%;
    }

    .productos__mermes{
        width: 100%;
        margin-bottom: 25px;
    }

    .titulo__cliente{
        font-size: 25px;
    }

    .cards__clientes{
        width: 80%;
        margin-bottom: 50px;
    }

    .tiutlo__adventage{
        font-size: 30px;
    }

    .titulo__info{
        font-size: 25px;
    }

    .contenido__us{
        width: 100%;
    }

    .card__team{
        width: 70%;
    }

    .cont__subcribe{
        width: 100%;
        margin-bottom: 25px;
    }

    .form__subcribe{
        width: 100%;
    }

    .titulo__subcribe{
        font-size: 25px;
    }

    .btn__subcribe{
        font-size: 14px;
        font-weight: 600;
    }

    .cont__formulario{
        width: 100%;
        margin-bottom: 50px;
    }

    .img__us{
        width: 100%;
    }

    .btn__form{
        width: 100%;
    }


}